<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://archival.dev">
    <meta property="og:image" content="https://archival.dev/img/og-image.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta property="og:image:alt" content="archival.dev" />

    <link rel="manifest" href="/site.webmanifest" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png" />
    <link
      rel="mask-icon"
      href="/safari-pinned-tab.svg"
      color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>
      {{ title }}
    </title>
    <link rel="stylesheet" href="https://use.typekit.net/xfh0gig.css">
    <link rel="stylesheet" href="/style/main.css">
    <script type="module" src="/scripts/main.js"></script>
  </head>
  <body class="gradient-bg">
    <nav
      id="nav"
      role="nav"
      class="z-50 w-full top-0 fixed py-5 backdrop-blur-md shadow-lg flex justify-between font-bold">
      <div id="logo" class="mx-5">
        <a href="/" class="flex gap-2 items-center">
          <div class="logo-icon w-[44px] h-[44px] relative">
            <div class="gray">
              {% include "logo-svg" size: "44" %}
            </div>
            <div class="color">
              {% include "logo-svg" size: "44"
                , color: true %}
            </div>
          </div>
          <span class="logo-text text-2xl">archival</span>
        </a>
      </div>
      <div class="flex-1 justify-center hidden md:flex">
      {% comment %} TODO search {% endcomment %}
      {% comment %}
        <input
        id="search"
        type="search"
        class="rounded-lg border-1 border-gray shadow-inner-md px-6 backdrop-blur-md bg-none w-full max-w-72"
        placeholder="Search ⌘K">
      {% endcomment %}
      </div>
      <ul class="flex flex-shrink justify-end gap-2 items-center flex-wrap mr-5">
        {% assign docs_link = objects.docs | first %}
        <li class="hover:text-teal">
          <a href="/{{ docs_link.path }}.html">Docs</a>
        </li>
        {% assign cli_link = objects.cli | first %}
        <li class="hover:text-teal">
          <a href="/{{ cli_link.path }}.html">CLI</a>
        </li>
        <li class="hover:text-teal">
          <a href="/manifesto.html">Manifesto</a>
        </li>
        <li class="hover:text-teal">
          <a href="https://editor.archival.dev">Editor</a>
        </li>
        <li class="w-5">
          <a href="https://github.com/jesseditson/archival"><img src="/img/github-mark.png" alt="github" /></a>
        </li>
        <li class="w-5">
          <a href="https://docs.rs/archival/"><img src="/img/rust.png" alt="rust library documentation" /></a>
        </li>
      </ul>
    </nav>
    <main
      role="main"
      tabindex="-1"
      class="flex flex-col z-0 items-center min-h-full w-full">
      {{ page_content }}
    </main>
    <script
      defer
      src="https://api.pirsch.io/pa.js"
      id="pianjs"
      data-code="XiwklAJh3S2Wx2wypo1eGjp5BHhtbk4C"></script>

    <!-- syntax highlighting -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- documentation languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/typescript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/toml.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
