<nav
  id="nav"
  role="nav"
  class="z-50 w-full py-5 fixed flex justify-between font-bold gap-4 backdrop-blur-md bottom-auto top-0 shadow-lg max-w-[1200px] mx-auto inset-x-0">
  <div id="logo" class="">
    <a href="/" class="flex gap-2 items-center">
      <div class="logo-icon w-[179px] h-[32px] relative">
        <div class="gray">
          {% include "logo-svg-2" size: "32" %}
        </div>
      </div>
    </a>
  </div>
  <div class="flex-1 justify-end md:justify-center flex hidden">
    <button id="quick-search-button" class="flex gap-4 font-light text-sm items-center text-gray-dark md:border md:opacity-60 md:border-gray md:bg-white md:rounded-lg md:px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-search">
        <circle
          cx="11"
          cy="11"
          r="8"></circle>
        <line
          x1="21"
          y1="21"
          x2="16.65"
          y2="16.65"></line>
      </svg>
      <div class="hidden md:flex">
        Quick Search...
      </div>
      <div class="hidden md:flex">
        ⌘K
      </div>
    </button>
  </div>
  <ul class="flex-shrink justify-end gap-8 items-center flex-wrap hidden md:flex">
    {% assign docs_link = objects.docs | first %}
    <li class="nav-text {% if area == 'docs' %}nav-active{% endif %}">
      <a href="/{{ docs_link.path }}.html">Docs</a>
    </li>
    {% assign cli_link = objects.cli | first %}
    <li class="nav-text {% if area == 'cli' %}nav-active{% endif %}">
      <a href="/{{ cli_link.path }}.html">CLI</a>
    </li>
    <li class="nav-text {% if area == 'manifesto' %}nav-active{% endif %}">
      <a href="/manifesto.html">Manifesto</a>
    </li>
    <li class="nav-text">
      <a href="https://editor.archival.dev">Editor</a>
    </li>
    <li class="nav-text-cta">
      <a href="https://editor.archival.dev/new">Create</a>
    </li>
  </ul>
  <div class="md:hidden flex items-center">
    <button>
      <div id="menu-closed">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-menu">
          <line
            x1="3"
            y1="12"
            x2="21"
            y2="12"></line>
          <line
            x1="3"
            y1="6"
            x2="21"
            y2="6"></line>
          <line
            x1="3"
            y1="18"
            x2="21"
            y2="18"></line>
        </svg>
      </div>
      <div id="menu-open" class="hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-x">
          <line
            x1="18"
            y1="6"
            x2="6"
            y2="18"></line>
          <line
            x1="6"
            y1="6"
            x2="18"
            y2="18"></line>
        </svg>
      </div>
    </button>
  </div>
</nav>
<div id="mobile-menu" class="hidden fixed backdrop-blur-md translate-y-full transition opacity-0 shadow-up w-full pb-10 px-4 bottom-0 z-40 text-xl rounded-lg md:hidden max-h-full overflow-y-auto">
    <ul class="flex flex-col">
      {% assign docs_link = objects.docs | first %}
      <li class="mobile-nav-item">
        <a class="flex-1" href="/{{ docs_link.path }}.html">Docs</a>
      </li>
      {% assign cli_link = objects.cli | first %}
      <li class="mobile-nav-item">
        <a class="flex-1" href="/{{ cli_link.path }}.html">CLI</a>
      </li>
      <li class="mobile-nav-item">
        <a class="flex-1" href="/manifesto.html">Manifesto</a>
      </li>
      <li class="mobile-nav-item">
        <a class="flex-1" href="https://editor.archival.dev">Editor</a>
      </li>
      <li class="mobile-nav-item mobile-nav-item-cta">
        <a class="flex-1" href="https://editor.archival.dev/new">Create</a>
      </li>
    </ul>
</div>

{% if area == 'docs' or area == 'cli' %}
  <div id="docs-nav" class="hidden z-50 w-full py-5 fixed flex justify-between font-bold gap-4 backdrop-blur-md bottom-0 top-auto shadow-lg max-w-[1200px] mx-auto inset-x-0">
    <div class="nav-left"></div>
    <div class="docs-current-view">
      {% if area == 'docs' %}
        {{ docs.title }}
      {% else %}
        {{ cli.command }}
      {% endif %}
    </div>
    <div class="nav-right"></div>
  </div>
  <div id="docs-selector" class="hidden z-50 w-full py-5 fixed flex justify-between font-bold gap-4 backdrop-blur-md bottom-16 top-auto shadow-lg max-w-[1200px] mx-auto inset-x-0">
    {% if area == "docs" %}
      <ul class="flex flex-col w-full">
        {% for doc in objects.docs %}
          <li class="flex px-8 py-3 text-center {% if path == doc.path %}nav-active{% endif %}">
            <a class="flex-1" href="/{{ doc.path }}.html">{{ doc.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% elsif area == "cli" %}
      <ul class="flex flex-col w-full">
        {% for doc in objects.cli %}
          <li class="flex px-8 py-3 text-center">
            <a class="flex-1" href="/{{ doc.path }}.html">{{ doc.command }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endif %}
<div class="modal-backdrop hidden"></div>
