{% layout 'theme' title: "Archival | Docs"
  , area: "docs" %}

<div class="docs-container md:mb-0 md:mt-20 flex flex-1 gap-4 min-h-full w-full md:max-w-[1200px] pt-32 pb-32">
  <div id="docs-sidebar" class="z-10 w-64 hidden flex-col font-bold md:flex">
    {% for doc in objects.docs %}
      <a href="/{{doc.path}}.html" class="px-4 py-2 my-2 backdrop-blur-md side-nav-item {% if docs.title == doc.title %}side-nav-item-active{% endif %}">
        <h3>{{ doc.title }}</h3>
      </a>
    {% endfor %}
  </div>

  <div id="docs" class="z-20 w-full min-h-full flex justify-center">
    {% comment %}
      <div id="outline" class="z-30 fixed right-[-180px] hover:right-2 top-20 flex flex-col gap-2 items-end border-gray pr-2 pt-2 w-10 overflow-visible">
      {% for section in docs.sections %}
      <div>
      <a href="#{{section.title | url_encode }}" id="{{section.title | url_encode }}">
      <div class="flex relative w-[200px] justify-between gap-10">
      <div>⸺</div>
      <h2 class="flex-1 self-end">{{ section.title }}</h2>
      </div>
      </a>
      </div>
      {% endfor %}
      </div>
    {% endcomment %}
    <div class="md w-full max-w-screen-md flex flex-col gap-4">
      <h1>{{ docs.title }}</h1>
      {% default docs.description "" %}

      {% for section in docs.sections %}
        <a
          href="#{{section.title | url_encode }}"
          id="{{section.title | url_encode }}"
          class="docs-section-anchor">
          <h2>{{ section.title }}</h2>
        </a>
        {{ section.content }}
      {% endfor %}

      <div class="flex justify-between text-lg font-bold mt-10 gap-5">
        {% assign prev_order = docs.order | minus: 1 %}
        {% assign next_order = docs.order | plus: 1 %}
        {% for doc in objects.docs %}
          {% if doc.order == next_order %}
            {% assign next = doc %}
          {% endif %}
          {% if doc.order == prev_order %}
            {% assign prev = doc %}
          {% endif %}
        {% endfor %}
        {% if prev %}
          <a href="/{{ prev.path }}.html">
            <div id="prev" class="">
              ← {{ prev.title }}
            </div>
          </a>
        {% else %}
          <div></div>
        {% endif %}
        {% if next %}
          <a href="/{{ next.path }}.html">
            <div id="next" class="">
              {{ next.title }} →
            </div>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
