{% layout 'theme' title: "archival" %}
{% assign home = objects.home %}
<div
  id="header"
  style="background-image: url('{{ home.header.url }}')"
  title="{{ home.header_alt }}"
  class="w-full bg-gray-light flex flex-col justify-center items-center gap-20 pt-20">
  <div id="header-logo" class="flex items-center justify-between flex-col">
    <div class="icon w-48 h-48 relative flex items-center justify-center ">
      <img
        id="header-image"
        class="z-30"
        src="/img/logo3d.png"
        alt="archival" />
      <img
        id="header-shadow"
        class="z-20"
        src="/img/shadow.png"
        alt="archival" />
    </div>
    <h1 class="font-bold text-6xl">archival</h1>
  </div>
  <div id="header-ctas" class="w-full flex justify-around">
    <a href="/docs/getting-started.html">Documentation</a>
    <a href="https://editor.archival.dev/new">Create a Website</a>
  </div>
</div>

<div class="content p-20 max-w-screen-md">
  {% for section in home.sections %}
    {% assign is_odd = forloop.index0 | modulo: 2 %}
    <div class="section text-xl pb-20">
      <h1 class="{% if is_odd == 1 %}text-right{% endif %}">{{ section.title }}</h1>
      <div class="content {% if is_odd == 1 %}pr-20{% else %}pl-20{% endif %}">
        {{ section.content }}
      </div>
    </div>
  {% endfor %}

  <h1>{{ home.videos_title }}</h1>
  <div id="videos" class="w-full">
    {% for video in home.videos %}
      <div class="">
        <h2>{{ video.title }}</h2>
        <video
          title="{{video.title}}"
          controls
          class="w-full">
          <source
            src="{{video.video.url}}"
            name="{{video.video.filename}}"
            type="{{video.video.mime}}">
        </video>
      </div>
    {% endfor %}
  </div>

  <div class="text-lg flex justify-center mt-10">
    <h4>
      <a href="/manifesto.html">{{ home.manifesto_link_title }}</a>
    </h4>
  </div>

  {% comment %} <h1>{{ home.personas_title }}</h1>
                                                                                          <div id="personas">
                                                                                            {% for persona in home.personas %}
                                                                                              <div class="persona">
                                                                                                <img src="{{ persona.image.url }}" alt="{{ persona.title }}" />
                                                                                                <h2>{{ persona.title }}</h2>
                                                                                                <div>{{ persona.content }}</div>
                                                                                              </div>
                                                                                            {% endfor %}
                                              </div> {% endcomment %}

  <h1>{{ home.pricing_title }}</h1>
  <div id="pricing">
    {{ home.pricing_content }}
  </div>

</div>
TODO CTA
