{% layout 'theme' title: "archival" %}
{% assign home = objects.home %}

<div
  id="header"
  style="background-image: url('{{ home.header.url }}')"
  title="{{ home.header_alt }}"
  class="w-full flex flex-col justify-center items-center gap-8 py-20 my-20">
  <div id="header-logo" class="flex items-center justify-between flex-col">
    <div class="icon w-48 h-48 relative flex items-center justify-center">
      <img
        id="header-image"
        class="z-30"
        src="/img/logo3d.png"
        alt="archival" />
      <video
        class="z-30 header-video absolute top-0 w-full h-full hidden"
        muted
        preload="auto"
        playsinline>
        <source src="/vid/ttp.mov" type='video/mp4; codecs="hvc1"'>
        <source src="/vid/ttp.webm" type="video/webm">
      </video>
      <video
        class="z-30 header-video absolute top-0 w-full h-full hidden"
        muted
        preload="auto"
        playsinline>
        <source src="/vid/ptt.mov" type='video/mp4; codecs="hvc1"'>
        <source src="/vid/ptt.webm" type="video/webm">
      </video>
      <img
        id="header-shadow"
        class="z-20"
        src="/img/shadow.png"
        alt="archival" />
    </div>
    <h1 class="logo-text text-purple font-bold text-5xl font-section-title">archival</h1>
  </div>
  <div id="header-ctas" class="w-full flex justify-around absolute translate-y-48 p-48">
    <a
      id="header-docs"
      href="/docs/getting-started.html"
      class="flex flex-col items-center">
      <div class="shadow-image relative w-48 h-48">
        <img class="bg absolute top-0 left-0 w-full h-full" src="/img/book-shadow.png" />
        <img class="fg absolute top-0 left-0 w-full h-full" src="/img/book.png" />
      </div>
      <h4 class="logo-text text-purple font-bold text-2xl font-section-title">Documentation</h4>
    </a>
    <a
      id="header-create"
      href="https://editor.archival.dev/new"
      class="flex flex-col items-center">
      <div class="shadow-image relative w-48 h-48">
        <img class="bg absolute top-0 left-0 w-full h-full" src="/img/rocket-shadow.png" />
        <img class="fg absolute top-0 left-0 w-full h-full" src="/img/rocket.png" />
      </div>
      <h4 class="logo-text text-purple font-bold text-2xl font-section-title">Create a Website</h4>
    </a>
  </div>
</div>

<div class="content p-20 pb-0 max-w-screen-md">
  {% for section in home.sections %}
    {% assign is_odd = forloop.index0 | modulo: 2 %}
    <div class="section text-xl p-10 mb-10 bg-pink-light ring-peach ring-4 shadow-lg rounded-2xl">
      <h2 class="text-4xl m-10 mt-0 font-section-title font-extrabold {% if is_odd == 1 %}text-right{% endif %}">{{ section.title }}</h2>
      <div class="content {% if is_odd == 1 %}pr-10{% else %}pl-10{% endif %}">
        {{ section.content }}
      </div>
      <div class="image-a shadow-image absolute hidden">
        <img class="fg" src="{{section.image_a}}" />
        <img class="bg" src="{{section.image_a_shadow}}" />
      </div>
      <div class="image-b shadow-image absolute hidden">
        <img class="fg" src="{{section.image_b}}" />
        <img class="bg" src="{{section.image_b_shadow}}" />
      </div>
    </div>
  {% endfor %}
</div>

{% comment %}
  <div class="text-lg flex justify-center mt-10">
  <h4 class="font-section-title font-extrabold italic text-4xl color-teal">
  <a href="/manifesto.html">{{ home.manifesto_link_title }}</a>
  </h4>
  </div>
{% endcomment %}

<div class="content w-full max-w-screen-md">
  <h2 class="text-4xl m-10 font-section-title font-extrabold">{{ home.videos_title }}</h2>
  <div id="videos" class="w-full">
    {% for video in home.videos %}
      <div class="flex flex-col items-center gap-4">
        <video
          title="{{video.title}}"
          controls
          class="w-full bg-pink-light ring-peach ring-4 shadow-lg md:rounded-2xl">
          <source
            src="{{video.video.url}}"
            name="{{video.video.filename}}"
            type="{{video.video.mime}}">
        </video>
        <h3 class="text-xl font-extrabold">{{ video.title }}</h3>
      </div>
    {% endfor %}
  </div>
</div>

<div class="content p-10 pb-0 max-w-screen-md text-xl m-20 bg-pink-light ring-peach ring-4 shadow-lg rounded-2xl">
  <h2 class="section text-4xl mb-10 font-section-title font-extrabold">{{ home.pricing_title }}</h2>
  <div id="pricing" class="md pb-10">
    {{ home.pricing_content }}
  </div>
</div>

<footer class="shadow-inner w-full h-80 mt-20"></footer>

<canvas id="3d" style="z-index: 30; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none;"></canvas>
