{% layout 'theme' title: "Archival | Content-First Websites"
  , area: "home" %}
{% assign home = objects.home %}



<div id="header" class="w-full flex flex-col justify-center items-center gap-6 pt-60 relative">
  <h1 class="hero-message">Content-First<br/>Websites</h1>
  <div id="header-logo" class="flex items-center justify-between flex-col w-full">
    {% comment %} <div class="shadow-image w-64 h-64 relative flex items-center justify-center scale-90 md:scale-100">
      {% comment %} <img
        id="header-shadow"
        class="bg absolute z-0"
        src="/img/logo-shadow.png"
        alt="archival" />
      <img
        id="header-image"
        src="/img/logo.png"
        class="fg z-10"
        alt="archival" /> {% endcomment %}
      {% comment %}
        <video
        class="header-video absolute top-0 w-full h-full hidden"
        muted
        preload="auto"
        playsinline>
        <source src="/vid/ttp.mov" type='video/mp4; codecs="hvc1"'>
        <source src="/vid/ttp.webm" type="video/webm">
        </video>
        <video
        class="header-video absolute top-0 w-full h-full hidden"
        muted
        preload="auto"
        playsinline>
        <source src="/vid/ptt.mov" type='video/mp4; codecs="hvc1"'>
        <source src="/vid/ptt.webm" type="video/webm">
        </video>
      {% endcomment %}
    </div> {% endcomment %}
    
    <div id="header-ctas" class="w-full max-w-full md:max-w-[1200px] my-24">
      <a href="https://editor.archival.dev/new" class="primary-cta-container">
        <button class="primary-cta">
          Create a website
        </button>
      </a>

      <a href="/docs/getting-started.html" class="docs-cta">
        Read the docs
      </a>
    </div>
  </div>
</div>



{% comment %} Video Section (Disabled until produced)

<div class="content w-full max-w-screen-lg mb-40 md:max-w-[1200px]">
  <div id="videos" class="w-full">
    {% for video in home.videos %}
      <div class="flex flex-col items-center gap-4">
        <video
          title="{{video.title}}"
          {% if video.poster %}
            poster="{{video.poster}}"
          {% endif %}
          controls
          class="w-full bg-pink-light shadow-lg lg:rounded-2xl">
          <source
            src="{{video.video.url}}"
            name="{{video.video.filename}}"
            type="{{video.video.mime}}">
        </video>
      </div>
    {% endfor %}
  </div>
</div>

{% endcomment %}


{% comment %} Benefit Sections {% endcomment %}

<div class="benefit-grid md:max-w-[1200px] md:mt-40 md:mb-40 mt-20 mb-20">
  {% for section in home.sections %}
    <div class="benefit">
      <h2 class="section-title">{{ section.title }}</h2>
      <div class="section-content">
        {{ section.content }}
      </div>
    </div>
  {% endfor %}
</div>


{% comment %} Pricing Section {% endcomment %}
 
{% comment %} 
<div class="pricing-container md:max-w-[1200px] mb-40">
  <div class="pricing-image-container">
    <img src="/img/pricing-sticker.png" class="pricing-sticker" />
    <span class="image-aside">We're not kidding.</span>
  </div>
  
  <div class="pricing-description">
    <h2 class="section-title">{{ home.pricing_title }}</h2>
    <div id="pricing" class="section-content">
      {{ home.pricing_content }}
    </div>
  </div>
</div>
 {% endcomment %}


{% comment %} Contact Section {% endcomment %}

<div class="contact-container md:max-w-[1200px] mb-40">
  <h2 class="section-title">{{ home.contact_title }}</h2>
  <div class="section-content connect-grid">
    <a href="https://github.com/jesseditson/archival" class="connect-item" title="GitHub">
      <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg" class="animated-svg">
        <defs>
          <linearGradient id="animatedGradient" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" stop-color="#EF476F">
              <animate attributeName="stop-color" values="#EF476F;#FFD166;#06D6A0;#118AB2;#EF476F" dur="10s" repeatCount="indefinite" />
            </stop>
            <stop offset="100%" stop-color="#EF476F">
              <animate attributeName="stop-color" values="#EF476F;#118AB2;#06D6A0;#FFD166;#EF476F" dur="10s" repeatCount="indefinite" />
            </stop>
          </linearGradient>
          <linearGradient id="animatedGradient-gs" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" stop-color="#666666">
              <animate attributeName="stop-color" values="#666666;#999999;#CCCCCC;#666666" dur="10s" repeatCount="indefinite" />
            </stop>
            <stop offset="100%" stop-color="#666666">
              <animate attributeName="stop-color" values="#666666;#CCCCCC;#999999;#666666" dur="10s" repeatCount="indefinite" />
            </stop>
          </linearGradient>
        </defs>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.0397 0C21.475 0 0 22 0 49.217C0 70.973 13.7598 89.389 32.8482 95.907C35.2348 96.397 36.1089 94.848 36.1089 93.545C36.1089 92.404 36.0303 88.493 36.0303 84.418C22.6668 87.352 19.884 78.551 19.884 78.551C17.7364 72.847 14.5543 71.381 14.5543 71.381C10.1804 68.366 14.8729 68.366 14.8729 68.366C19.7247 68.692 22.2705 73.418 22.2705 73.418C26.5647 80.914 33.4844 78.796 36.2682 77.492C36.6655 74.314 37.9389 72.114 39.291 70.892C28.6327 69.751 17.4187 65.514 17.4187 46.609C17.4187 41.231 19.3264 36.831 22.3492 33.409C21.8723 32.187 20.2016 27.134 22.8271 20.371C22.8271 20.371 26.8833 19.067 36.0293 25.423C39.945 24.3457 43.9832 23.7976 48.0397 23.793C52.096 23.793 56.2309 24.364 60.0492 25.423C69.1961 19.067 73.2524 20.371 73.2524 20.371C75.8779 27.134 74.2062 32.187 73.7293 33.409C76.8317 36.831 78.6607 41.231 78.6607 46.609C78.6607 65.514 67.4468 69.669 56.7088 70.892C58.4591 72.44 59.9695 75.373 59.9695 80.018C59.9695 86.618 59.8908 91.915 59.8908 93.544C59.8908 94.848 60.766 96.397 63.1516 95.908C82.24 89.388 95.9998 70.973 95.9998 49.217C96.0785 22 74.5248 0 48.0397 0Z" class="animated-path" />
      </svg>
    </a>

    <a href="https://archival.dev/chat.html" class="connect-item" title="Discord">
      <svg width="100" height="75" viewBox="0 0 100 75" fill="none" xmlns="http://www.w3.org/2000/svg" class="animated-svg">
        <defs>
          <linearGradient id="animatedGradient" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" stop-color="#EF476F">
              <animate attributeName="stop-color" values="#EF476F;#FFD166;#06D6A0;#118AB2;#EF476F" dur="10s" repeatCount="indefinite" />
            </stop>
            <stop offset="100%" stop-color="#EF476F">
              <animate attributeName="stop-color" values="#EF476F;#118AB2;#06D6A0;#FFD166;#EF476F" dur="10s" repeatCount="indefinite" />
            </stop>
          </linearGradient>
          <linearGradient id="animatedGradient-gs" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" stop-color="#666666">
              <animate attributeName="stop-color" values="#666666;#999999;#CCCCCC;#666666" dur="10s" repeatCount="indefinite" />
            </stop>
            <stop offset="100%" stop-color="#666666">
              <animate attributeName="stop-color" values="#666666;#CCCCCC;#999999;#666666" dur="10s" repeatCount="indefinite" />
            </stop>
          </linearGradient>
        </defs>
        <path d="M84.7095 6.28112C78.1394 3.30454 71.2034 1.19285 64.0788 0C63.1038 1.72469 62.2217 3.49916 61.436 5.31599C53.8469 4.18432 46.1292 4.18432 38.54 5.31599C37.754 3.49935 36.8718 1.7249 35.8973 0C28.768 1.20292 21.8275 3.31962 15.2508 6.29669C2.19435 25.4125 -1.34505 44.0535 0.424652 62.4298C8.07084 68.0202 16.6291 72.2718 25.7274 74.9998C27.7761 72.2732 29.5889 69.3805 31.1466 66.3526C28.188 65.2591 25.3323 63.91 22.6127 62.3209C23.3285 61.8072 24.0285 61.2779 24.7049 60.7642C32.6182 64.4468 41.2552 66.3562 49.9998 66.3562C58.7445 66.3562 67.3814 64.4468 75.2947 60.7642C75.979 61.3168 76.679 61.8461 77.3869 62.3209C74.6621 63.9125 71.8012 65.2643 68.8373 66.3604C70.3931 69.3869 72.206 72.2771 74.2565 74.9998C83.3626 72.2828 91.9274 68.0332 99.575 62.4376C101.651 41.1269 96.0277 22.6572 84.7095 6.28112ZM33.3882 51.1285C28.4567 51.1285 24.3824 46.6998 24.3824 41.2515C24.3824 35.8032 28.3151 31.3355 33.3725 31.3355C38.4299 31.3355 42.4727 35.8032 42.3862 41.2515C42.2997 46.6998 38.4142 51.1285 33.3882 51.1285ZM66.6114 51.1285C61.672 51.1285 57.6135 46.6998 57.6135 41.2515C57.6135 35.8032 61.5461 31.3355 66.6114 31.3355C71.6767 31.3355 75.688 35.8032 75.6015 41.2515C75.515 46.6998 71.6373 51.1285 66.6114 51.1285Z" class="animated-path" />
      </svg>
    </a>

    <a href="https://docs.rs/archival/" class="connect-item" title="Rust">
      <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg" class="animated-svg">
        <defs>
          <linearGradient id="animatedGradient" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" stop-color="#EF476F">
              <animate attributeName="stop-color" values="#EF476F;#FFD166;#06D6A0;#118AB2;#EF476F" dur="10s" repeatCount="indefinite" />
            </stop>
            <stop offset="100%" stop-color="#EF476F">
              <animate attributeName="stop-color" values="#EF476F;#118AB2;#06D6A0;#FFD166;#EF476F" dur="10s" repeatCount="indefinite" />
            </stop>
          </linearGradient>
          <linearGradient id="animatedGradient-gs" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" stop-color="#666666">
              <animate attributeName="stop-color" values="#666666;#999999;#CCCCCC;#666666" dur="10s" repeatCount="indefinite" />
            </stop>
            <stop offset="100%" stop-color="#666666">
              <animate attributeName="stop-color" values="#666666;#CCCCCC;#999999;#666666" dur="10s" repeatCount="indefinite" />
            </stop>
          </linearGradient>
        </defs>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M59.9787 6.24446L58.3878 1.80477C58.2253 1.35128 57.8368 1.01629 57.3643 0.922308C56.8918 0.828327 56.4047 0.989133 56.081 1.34592L52.9063 4.8455C52.4754 4.79705 52.0426 4.75491 51.608 4.71917L49.176 0.665834C48.9281 0.252753 48.4817 0 48 0C47.5183 0 47.0719 0.252753 46.824 0.665834L44.392 4.71917C43.9574 4.75491 43.5246 4.79705 43.0937 4.8455L39.9189 1.34592C39.5953 0.98913 39.1081 0.828324 38.6357 0.922305C38.1632 1.01629 37.7747 1.35127 37.6122 1.80477L36.0213 6.24446C35.5986 6.36549 35.1786 6.49277 34.7613 6.62619L30.9725 3.8189C30.5854 3.53211 30.0763 3.46943 29.6312 3.65378C29.1861 3.83814 28.8704 4.24248 28.7995 4.71897L28.105 9.38628C27.716 9.58715 27.3303 9.79372 26.9482 10.0059L22.6804 7.98974C22.2448 7.78397 21.7332 7.82182 21.3326 8.08946C20.9321 8.3571 20.7013 8.81526 20.7248 9.29643L20.9546 14.0187C20.6151 14.2892 20.2799 14.5647 19.9488 14.845L15.3612 13.6981C14.8939 13.5813 14.3995 13.7182 14.0589 14.0589C13.7182 14.3995 13.5813 14.8939 13.6981 15.3612L14.845 19.9488C14.5647 20.2798 14.2892 20.6151 14.0187 20.9546L9.29643 20.7247C8.81527 20.7013 8.3571 20.9321 8.08946 21.3326C7.82183 21.7332 7.78397 22.2448 7.98974 22.6803L10.0059 26.9482C9.79373 27.3303 9.58716 27.7159 9.38629 28.105L4.71896 28.7995C4.24248 28.8704 3.83813 29.1861 3.65378 29.6312C3.46943 30.0763 3.53211 30.5854 3.8189 30.9725L6.62619 34.7613C6.49277 35.1786 6.3655 35.5986 6.24446 36.0213L1.80477 37.6122C1.35127 37.7747 1.01628 38.1632 0.922301 38.6357C0.82832 39.1081 0.989126 39.5953 1.34592 39.919L4.8455 43.0937C4.79705 43.5246 4.75491 43.9574 4.71917 44.392L0.665834 46.824C0.252753 47.0719 0 47.5183 0 48C0 48.4817 0.252753 48.9281 0.665834 49.176L4.71917 51.608C4.75491 52.0426 4.79705 52.4754 4.8455 52.9063L1.34593 56.081C0.989141 56.4047 0.828335 56.8919 0.922316 57.3643C1.0163 57.8368 1.35128 58.2253 1.80478 58.3878L6.24446 59.9787C6.3655 60.4014 6.49277 60.8214 6.62619 61.2387L3.8189 65.0275C3.53211 65.4146 3.46943 65.9237 3.65378 66.3688C3.83813 66.8139 4.24248 67.1296 4.71897 67.2005L9.38629 67.895C9.58715 68.284 9.79372 68.6697 10.0059 69.0518L7.98973 73.3197C7.78396 73.7552 7.82182 74.2668 8.08946 74.6674C8.35709 75.0679 8.81526 75.2987 9.29642 75.2753L14.0187 75.0454C14.2892 75.3849 14.5647 75.7201 14.845 76.0512L13.6981 80.6388C13.5813 81.1061 13.7182 81.6005 14.0589 81.9411C14.3995 82.2818 14.8939 82.4187 15.3612 82.3019L19.9488 81.155C20.2799 81.4353 20.6151 81.7108 20.9546 81.9813L20.7247 86.7036C20.7013 87.1847 20.9321 87.6429 21.3326 87.9105C21.7332 88.1782 22.2448 88.216 22.6803 88.0103L26.9482 85.9941C27.3303 86.2063 27.7159 86.4128 28.105 86.6137L28.7995 91.281C28.8704 91.7575 29.1861 92.1619 29.6312 92.3462C30.0763 92.5306 30.5854 92.4679 30.9725 92.1811L34.7613 89.3738C35.1786 89.5072 35.5987 89.6345 36.0213 89.7555L37.6122 94.1952C37.7747 94.6487 38.1632 94.9837 38.6357 95.0777C39.1082 95.1717 39.5953 95.0109 39.919 94.6541L43.0937 91.1545C43.5246 91.2029 43.9574 91.2451 44.392 91.2808L46.824 95.3342C47.0719 95.7472 47.5183 96 48 96C48.4817 96 48.9281 95.7472 49.176 95.3342L51.608 91.2808C52.0426 91.2451 52.4754 91.2029 52.9063 91.1545L56.0811 94.6541C56.4047 95.0109 56.8919 95.1717 57.3643 95.0777C57.8368 94.9837 58.2253 94.6487 58.3878 94.1952L59.9787 89.7555C60.4014 89.6345 60.8214 89.5072 61.2387 89.3738L65.0275 92.1811C65.4146 92.4679 65.9237 92.5306 66.3688 92.3462C66.8139 92.1619 67.1296 91.7575 67.2005 91.281L67.895 86.6137C68.284 86.4128 68.6697 86.2063 69.0518 85.9941L73.3196 88.0103C73.7552 88.216 74.2668 88.1782 74.6674 87.9105C75.0679 87.6429 75.2987 87.1847 75.2752 86.7036L75.0454 81.9813C75.3849 81.7108 75.7201 81.4353 76.0512 81.155L80.6387 82.3019C81.1061 82.4187 81.6005 82.2818 81.9411 81.9411C82.2818 81.6005 82.4187 81.1061 82.3018 80.6388L81.155 76.0512C81.4353 75.7202 81.7108 75.3849 81.9813 75.0454L86.7036 75.2753C87.1847 75.2987 87.6429 75.0679 87.9105 74.6674C88.1782 74.2668 88.216 73.7552 88.0103 73.3197L85.9941 69.0518C86.2063 68.6697 86.4128 68.2841 86.6137 67.895L91.281 67.2005C91.7575 67.1296 92.1619 66.8139 92.3462 66.3688C92.5306 65.9238 92.4679 65.4146 92.1811 65.0275L89.3738 61.2387C89.5072 60.8214 89.6345 60.4014 89.7555 59.9787L94.1952 58.3878C94.6487 58.2253 94.9837 57.8368 95.0777 57.3643C95.1717 56.8919 95.0109 56.4047 94.6541 56.081L91.1545 52.9063C91.2029 52.4754 91.2451 52.0426 91.2808 51.608L95.3342 49.176C95.7472 48.9281 96 48.4817 96 48C96 47.5183 95.7472 47.0719 95.3342 46.824L91.2808 44.392C91.2451 43.9574 91.2029 43.5246 91.1545 43.0937L94.6541 39.919C95.0109 39.5953 95.1717 39.1081 95.0777 38.6357C94.9837 38.1632 94.6487 37.7747 94.1952 37.6122L89.7555 36.0213C89.6345 35.5986 89.5072 35.1786 89.3738 34.7613L92.1811 30.9725C92.4679 30.5854 92.5306 30.0763 92.3462 29.6312C92.1619 29.1861 91.7575 28.8704 91.281 28.7995L86.6137 28.105C86.4128 27.7159 86.2063 27.3303 85.9941 26.9482L88.0103 22.6803C88.216 22.2448 88.1782 21.7332 87.9105 21.3326C87.6429 20.9321 87.1847 20.7013 86.7036 20.7247L81.9813 20.9546C81.7108 20.6151 81.4353 20.2799 81.155 19.9488L82.3019 15.3612C82.4187 14.8939 82.2818 14.3995 81.9411 14.0589C81.6005 13.7182 81.1061 13.5813 80.6388 13.6981L76.0512 14.845C75.7201 14.5647 75.3849 14.2892 75.0454 14.0187L75.2753 9.29642C75.2987 8.81526 75.0679 8.35709 74.6674 8.08946C74.2668 7.82182 73.7552 7.78397 73.3197 7.98973L69.0518 10.0059C68.6697 9.79373 68.284 9.58715 67.895 9.38629L67.2005 4.71897C67.1296 4.24248 66.8139 3.83814 66.3688 3.65378C65.9237 3.46943 65.4146 3.53211 65.0275 3.8189L61.2387 6.62619C60.8214 6.49277 60.4013 6.36549 59.9787 6.24446ZM41.5168 13.3958C33.8672 14.82 27.0874 18.7181 22.039 24.2286H59.4286C65.112 24.2286 70.078 28.0107 71.8566 32.7538C72.7496 35.135 72.843 37.7695 71.8086 40.288C70.8533 42.6138 68.952 44.8033 65.9078 46.5957C66.0419 46.6912 66.1817 46.8012 66.3252 46.9236C66.8393 47.3621 67.4322 47.9864 68.0195 48.7498C69.1924 50.2746 70.3738 52.3951 70.8483 54.7675C71.2515 56.7838 73.2943 58.0485 75.2903 57.9435C76.271 57.8919 77.2089 57.507 77.9033 56.7367C78.5973 55.9671 79.0857 54.7706 79.0857 53.0286V51.2C79.0857 50.9475 79.2904 50.7429 79.5429 50.7429H83.0947C83.1645 49.8377 83.2 48.923 83.2 48C83.2 46.4655 83.1018 44.954 82.9114 43.4713L77.1886 40.5554C75.8388 39.8676 75.3022 38.216 75.9899 36.8662L78.9073 31.1404C73.9258 22.0276 65.0314 15.3597 54.4832 13.3958L49.9395 17.9395C48.8683 19.0106 47.1317 19.0106 46.0605 17.9395L41.5168 13.3958ZM19.1611 35.2L20.0101 36.8662C20.6978 38.216 20.1611 39.8676 18.8114 40.5554L13.0886 43.4713C12.8982 44.9539 12.8 46.4655 12.8 48C12.8 51.4947 13.3093 54.8705 14.2577 58.0571H25.1429V35.2H19.1611ZM32.9055 79.8084L31.9 73.4595C31.663 71.9633 30.258 70.9425 28.7618 71.1795L22.4226 72.1835C21.4785 71.1853 20.5921 70.1319 19.769 69.0286H48.4571C48.7096 69.0286 48.9143 68.8239 48.9143 68.5714V58.5143C48.9143 58.2618 48.7096 58.0571 48.4571 58.0571H40.6857V51.6571H49.3714C50.5604 51.6571 51.4941 51.9131 52.2441 52.343C52.9951 52.7736 53.5874 53.3933 54.0706 54.1584C55.0486 55.7068 55.5503 57.7972 56.0098 59.9799C56.0557 60.198 56.1012 60.4171 56.1468 60.6366C56.5487 62.5721 56.9568 64.5377 57.704 66.0587C58.125 66.9157 58.6672 67.6631 59.4036 68.1955C60.1463 68.7323 61.0565 69.0286 62.1714 69.0286H76.231C75.4079 70.1319 74.5215 71.1853 73.5774 72.1835L67.2382 71.1795C65.742 70.9425 64.337 71.9633 64.1 73.4595L63.0945 79.8084C58.52 81.9831 53.4021 83.2 48 83.2C42.5979 83.2 37.48 81.9831 32.9055 79.8084ZM40.6857 35.2V41.6H52.1143C55.6495 41.6 57.1429 39.8629 57.1429 38.4C57.1429 36.9371 55.6495 35.2 52.1143 35.2H40.6857Z" class="animated-path"/>
      </svg>
    </a>
  </div>
  <div class="section-content email-info">
    <a href="mailto:hi@archival.dev" class="email-link">
      hi@archival.dev
    </a>
  </div>
</div>


{% comment %} Footer {% endcomment %}

<footer class="footer md:max-w-[1200px]">
  <img src="/img/archival-mark.svg" class="footer-mark" />
  <p class="copyright">&copy; <span id="year"></span> Archival Labs, LLC.<br>All rights reserved.</p>
  <a href="#">Legal &rarr;</a>
</footer>
