{% layout 'theme' title: "archival"
  , area: "home" %}
{% assign home = objects.home %}

<div id="header" class="z-30 w-full flex flex-col justify-center items-center gap-6 md:pt-60 relative">
  <div id="header-logo" class="flex items-center justify-between flex-col w-full">
    {% comment %} <div class="shadow-image w-64 h-64 relative flex items-center justify-center scale-90 md:scale-100">
      {% comment %} <img
        id="header-shadow"
        class="bg absolute z-0"
        src="/img/logo-shadow.png"
        alt="archival" />
      <img
        id="header-image"
        src="/img/logo.png"
        class="fg z-10"
        alt="archival" /> {% endcomment %}
      {% comment %}
        <video
        class="header-video absolute top-0 w-full h-full hidden"
        muted
        preload="auto"
        playsinline>
        <source src="/vid/ttp.mov" type='video/mp4; codecs="hvc1"'>
        <source src="/vid/ttp.webm" type="video/webm">
        </video>
        <video
        class="header-video absolute top-0 w-full h-full hidden"
        muted
        preload="auto"
        playsinline>
        <source src="/vid/ptt.mov" type='video/mp4; codecs="hvc1"'>
        <source src="/vid/ptt.webm" type="video/webm">
        </video>
      {% endcomment %}
    </div> {% endcomment %}
    <h1 class="hero-message">Content-First<br/>Websites</h1>
    <div id="header-ctas" class="w-full max-w-full md:max-w-[1200px] my-24">
      <a href="https://editor.archival.dev/new" class="primary-cta-container">
        <button class="primary-cta">
          Create a website
        </button>
      </a>

      <a href="/docs/getting-started.html" class="docs-cta">
        Read the docs
      </a>
    </div>
  </div>
</div>



{% comment %} Video Section {% endcomment %}

<div class="content w-full max-w-screen-lg mb-40 md:max-w-[1200px]">
  <div id="videos" class="w-full">
    {% for video in home.videos %}
      <div class="flex flex-col items-center gap-4">
        <video
          title="{{video.title}}"
          {% if video.poster %}
            poster="{{video.poster}}"
          {% endif %}
          controls
          class="w-full bg-pink-light shadow-lg lg:rounded-2xl">
          <source
            src="{{video.video.url}}"
            name="{{video.video.filename}}"
            type="{{video.video.mime}}">
        </video>
      </div>
    {% endfor %}
  </div>
</div>


{% comment %} Benefit Sections {% endcomment %}

<div class="benefit-grid md:max-w-[1200px] mb-40">
  {% for section in home.sections %}
    <div class="benefit">
      <h2 class="section-title">{{ section.title }}</h2>
      <div class="section-content">
        {{ section.content }}
      </div>
    </div>
  {% endfor %}
</div>



{% comment %} Pricing Section {% endcomment %}

<div class="pricing-container md:max-w-[1200px]">

  <img src="/img/pricing-sticker.png" class="pricing-sticker" />
  <div class="pricing-description">
    <h2 class="section-title">{{ home.pricing_title }}</h2>
    <div id="pricing" class="md section-content">
      {{ home.pricing_content }}
    </div>
  </div>
</div>
<footer class="shadow-inner w-full h-80 mt-20 mb-20 md:mb-0"></footer>
